# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Firebase emulators and local settings
.firebase/
firestore.indexes.json
firestore.rules
storage.rules

functions-v2/node_modules
functions-v2/.env
functions-v2/.runtimeconfig.json

# System files
Thumbs.db